* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5rem;
}

body {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  margin: 1rem;
}

footer {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
}

.card {
  padding: 3rem 6rem;
  box-shadow: -30px 35px 10px rgba(0, 0, 0, 0.606);
  border: 1px solid black;
}

.img-drop-area {
  margin: 1rem auto;
  padding: 1rem 8rem;
  background-color: rgba(12, 51, 178, 0.188);
  border: 4px dashed rgba(91, 91, 237, 0.647);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
}

.img-drop-area img {
  padding: 2.5rem;
  height: 15rem;
  width: 15rem;
}

.green-border {
  border-color: green;
}

.green-bg {
  background-color: rgba(16, 136, 16, 0.322);
}

#upload-btn {
    padding: 0.5rem;
    margin: 1rem 8rem;
}